body{
    margin: 0;
}

h1{
    font-size: 36px;
}



.links li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 1em;
}

details{
    margin: 12px;
}
/* 目次 */
ul.toc{
    background-color: lightblue;
    width: 280px;
    height: auto;
    list-style: none;
    padding-left: 0;
}
/* Columns of Contents: 2 to 2 */
/* 大枠部分 */

.main{
    background-color: lightgoldenrodyellow;
}

/* Main内容 */

h3{
    margin-top: 0;
    margin-bottom: 0;
}
span.underline{
    background: linear-gradient(transparent 60% lightblue);
}

/* ページ下部分 */

p.underline{
    width: 900px;
    background: linear-gradient(transparent 70%, red);
}
footer{
    margin-top: 50px;
}

/* === ラジオボタンは非表示 ================== */
#btns input[type="radio"]{
    display    : none;
}
   
   /* === 各ラジオボタンのラベルをボタンに変更 == */
#btns label{
    display    : inline-block;
    border     : 1px solid #ccc;
    box-shadow : 2px 2px #999;
    padding    : 2px 6px;
}
   
   /* === 選択されている言語のラベル色を変更 ==== */
#btns input[type="radio"]:checked + label {
    background :orange;
    font-weight: bold;
}




